/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Properties */

:root {
    --light-color: #fff;
    --dark-color: #1B1F34;
    --primary-background-color: #BDD9F2;
    --secondary-background-color: #AEB9F2;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--dark-color);
    --transparent-light-color: rgba(255, 255, 255, .05);
    --transparent-dark-color: rgba(0, 0, 0, .75);
    --font-family: 'Lexend', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%; /* on pourrait aussi .625em */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--dark-color);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* Reusable classes */

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}