/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom Properties */

:root {
    --light-color: #fff;
    --dark-color: #1B1F34;
    --primary-background-color: #BDD9F2;
    --secondary-background-color: #AEB9F2;
    --ternary-background-color: #88AABF;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--dark-color);
    --transparent-light-color: rgba(255, 255, 255, .05);
    --transparent-dark-color: rgba(0, 0, 0, .75);
    --font-family: 'Lexend', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap-md: 2rem;
    --gap-lg: 5rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --margin-lg: 5rem;
    --margin-xl: 10rem;
    --item-min-height-xs: 15rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* on pourrait aussi .625em */
    scroll-padding-top: 15rem;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--dark-color);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    margin-top: 15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    min-width: 7rem;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

.sr-only {
    border: 0;
    clip-path: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Reusable classes */

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-grid {
    display: grid;
    gap: var(--gap-lg);
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--secondary-background-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: var(--gap-lg);
}

.list-item:hover,
.list-item:focus {
    text-decoration: underline;
}

/* Main */

.main-title {
    width: 400px;
    text-align: center;
    margin: var(--margin-xl) auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 .1em .1em rgba(0, 0, 0, .08);
}

.section-title {
    text-decoration: underline;
    margin: var(--margin-xl) 0 var(--margin-lg);
}

.featured-articles {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    flex: none;
    box-shadow: 0 0 .5em var(--secondary-background-color);
    border-radius: 10px;
    min-width: 50%;
    width: 30rem;
}

.article-title {
    text-align: center;
    margin-block: var(--margin-sm);
    font-style: italic;
}

.article-image {
    height: var(--item-min-height-xs);
    object-fit: cover;
}

.article-list {
    margin: var(--margin-sm);
}

.article-1 .article-list {
    margin-block: auto;
}

section i {
    padding-right: 10px;
}

/* Footer */

footer {
    margin-top: var(--margin-xl);
    border-top: solid 1px var(--secondary-background-color);
    box-shadow: 0 0 .5em var(--secondary-background-color);
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
}

.social-list-item:last-child {
    width: 50px;
}

.social-list-item {
    padding: 10px;
    border-radius: 10px;
}

.social-list-item:hover {
   background-color: var(--secondary-background-color); 
}

/* Media Queries */

@media screen and (max-width: 1400px) {
    .featured-articles {
            grid-template-columns: repeat(2, 1fr);
        }
}